

a:hover{
  background-color: rgba(31, 173, 212, 0.227);

  font-size: 20px;
  font-weight: 500;
  
  font-family: "Ubuntu";
  color:bisque;
}
a{
  font-family: "Ubuntu";
  font-size:25px;
 
}
.w-100 {
  width: 75% !important;
  height: 100vh;
}
.carousel-item{
  margin: 0% 5% 0%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: rgba(17, 224, 100, 0.74);
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 5px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}
.carousel-control-prev-icon:after {
  font-size: 55px;
  content: '<';
  color: red;
}

.carousel_header{
  margin-left: 38% ;
  margin-right: 30%;
  
}