@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

*{
  margin: 0;
  
  font-family: "Poppins",sans-serif;
}
/* navbar */

.navbar {
  background-image: url("/photos/navpic.jpg");
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
/* wedding style */
#wd{
  font-family: 'Josefin Sans', sans-serif;
}


/* Position the navbar container inside the image */

.grid-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.grid-item {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
/* The navbar */


/* Navbar links */

body{
  background-color: #0f0e0c91;
}

.iframes {
  text-align: center;
  
}
.iframes iframe {
  display: block;
  margin: px auto;
}
.navbar a:hover {
  background-color: #000000;
  color: rgb(203, 246, 206);
  font-weight: 500;
 
}
